@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    height: 100%;
    font-weight: 800;
}

body {
    background-color: #2F3242;
    font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.pulse-button {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

h1 {
  color: red;
}

.form-container {
  bottom: 0;
  height: 65%;
  left: 0;
  margin: auto;
  position: center;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

form {
  background-color: #ccc;
  border-radius: 25px;
  margin: 0 auto;
  padding: 25px 0;
  width: 40%;
}

input {
  background-color: #aaa;
  border: 0;
  border-radius: 5px;
  color: #3d3d3d;
  font-size: 12pt;
  margin: 15px 0;
  padding: 15px 10px;
  position: center;
  width: 75%;
}

.btn{
  background-color: #4d4d4d;
  color: #ccc;
  display: inline-block;
  margin: 15px;
  width: 25%;
}

.form-group {
  position: relative;
}

.label-signup {
  color: #3d3d3d;
  font-size: 12pt;
  margin-left: 2%;
  opacity: 0;
  position: absolute;
  top: 35%;
  z-index: 2;
}

::-webkit-input-placeholder {
  color: #3d3d3d;
}

:-moz-placeholder {
  color: #3d3d3d;
}

::-moz-placeholder {
  color: #3d3d3d;
}

:-ms-input-placeholder {
  color: #3d3d3d;
}
